#interested button {
  background-color: #6C63FF;
  border: 2px solid #6C63FF;
  color: white;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 60px;
  margin: auto;
}

#interested button:hover {
  cursor: pointer;
  background-color: white;
  color: #6C63FF;
}

#interested div {
  width: 55%;
  margin: auto;
  margin-top: 100px;
  background-color: #2F2E41;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#interested h1 {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
  color: white;

  padding: 50px;
}