#exam {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 255.42px;
}

#exam h1{
  font-weight: 700;
  font-size: 86px;
  line-height: 88px;
  margin-bottom: 10px;
  font-family: 'Playfair Display';
  color: #2F2E41;
  margin-left: 150px;
}

#exam p {
  color: #9893A3;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  padding-right: 190px;
  margin-left: 150px;

}

#section {
  max-width: 60%;
  margin-left: 0px;
  height: 442.78px;
}

#learn-more{
  margin-left: 150px;
}

#learn-more:hover{
  cursor: pointer;
  font-weight: 700;
  color: #2F2E41;
  border-bottom: 3px solid #9E99FF;
}